@model List<Tuple<TransacoesModel, PessoaModel>> // Define o tipo de modelo usado nesta visualização

@{
    ViewData["Title"] = "Transacoes"; // Define o título da página exibido na aba do navegador
}

<div class="container-lg">
    <div class="text-center">
        <h1 class="display-4">Veja todas as transações</h1> 

        <div class="mt-5">
            <a class="btn btn-primary" role="button" asp-controller="Transacoes" asp-action="Transacao">
                Adicionar transação
            </a> 
        </div>
    </div>

    <div class="position-relative mt-5 ">
        <table class="table position-absolute top-0 start-50 translate-middle-x">
            <thead>
                <tr>
                    <th scope="col">ID da Transação</th>
                    <th scope="col">ID da Conta</th>
                    <th scope="col">Nome da Conta</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Transação</th>
                    <th scope="col">Tipo</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any()) // Se houver algum item na lista de transações
                {
                    foreach (var (transacao, pessoa) in Model) //Loop através de cada item na lista 
                    {
                        <tr>
                            <th scope="row">@transacao.PK_Transacao</th>
                            <th scope="col">@pessoa.PK_Pessoa</th>
                            <th scope="col">@pessoa.Nome</th>  
                            <td>@transacao.Descricao</td> 
                            <td>@transacao.Valor</td> 
                            <td>@transacao.Tipo</td> 
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
